@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/jetbrainsmono-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/jetbrainsmono-variablefont_wght-webfont.woff') format('woff');
    font-weight: 100 800;
}

:root {
    --bg:       #222;
    --bg-light: #333;
    --bg-dark:  #111;
    --fg:       #ddd;
    --fg-dark:  #ddd7;

    --border:       #444;
    --border-light: #555;
    --border-dark:  #333;

    --accent: #8c00ff;
    --accent-dark: color-mix(in srgb, var(--accent) 50%, var(--bg));
    --accent-light: color-mix(in srgb, var(--accent) 50%, var(--fg));

    --glass:              color-mix(in srgb, color-mix(in srgb, var(--bg) 90%, var(--fg)) 50%, transparent);
    --glass-border:       color-mix(in srgb, color-mix(in srgb, var(--bg) 70%, var(--fg)) 50%, transparent);
    --glass-light:        color-mix(in srgb, color-mix(in srgb, var(--bg) 70%, var(--fg)) 50%, transparent);
    --glass-light-border: color-mix(in srgb, color-mix(in srgb, var(--bg) 50%, var(--fg)) 50%, transparent);
    --glass-backdrop-filter: blur(40px);

    --transition: 250ms cubic-bezier(0.215, 0.610, 0.355, 1);

    --window-backdrop-filter: blur(10px);
    --window-backdrop-color: #0000003f;
    --window-shadow: 0 10px 10px 0 #0000005f;
}

body.blur-off {
    --window-backdrop-filter: none;
    --glass-backdrop-filter: none;

    --glass:              color-mix(in srgb, color-mix(in srgb, var(--bg) 95%, var(--fg)) 100%, transparent);
    --glass-border:       color-mix(in srgb, color-mix(in srgb, var(--bg) 80%, var(--fg)) 100%, transparent);
    --glass-light:        color-mix(in srgb, color-mix(in srgb, var(--bg) 80%, var(--fg)) 100%, transparent);
    --glass-light-border: color-mix(in srgb, color-mix(in srgb, var(--bg) 60%, var(--fg)) 100%, transparent);
}

body.blur-low {
    --window-backdrop-filter: none;
    --glass-backdrop-filter: blur(5px);
    --glass-transparency: 70%;

    
    --glass:              color-mix(in srgb, color-mix(in srgb, var(--bg) 95%, var(--fg)) var(--glass-transparency), transparent);
    --glass-border:       color-mix(in srgb, color-mix(in srgb, var(--bg) 80%, var(--fg)) var(--glass-transparency), transparent);
    --glass-light:        color-mix(in srgb, color-mix(in srgb, var(--bg) 80%, var(--fg)) var(--glass-transparency), transparent);
    --glass-light-border: color-mix(in srgb, color-mix(in srgb, var(--bg) 60%, var(--fg)) var(--glass-transparency), transparent);
}

body {
    margin: 0;
    background: var(--bg);
    height: 100dvh;
    color: var(--fg);

    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;

    touch-action: none;
}

.special {
    color: var(--accent-light);
}

.warning {
    color: #f3ca00;
}

.error {
    color: #f16868;
}

.info {
    color: var(--fg-dark);
    font-size: .75em;
}

button,
.button {
    margin: .2rem;
    padding: .2rem;
    border: 1px solid var(--border-light);
    background: transparent;
    border-radius: 4px;
    color: inherit;
    font-size: 1em;
    font-family: inherit;
    transition: var(--transition);
    cursor: pointer;
}

button.primary,
.button.primary {
    background: var(--accent-dark);
    border: 1px solid var(--accent-light);
}

button:hover,
.button:hover {
    background: var(--border-light);
}

button.primary:hover,
.button.primary:hover {
    background: var(--accent-light);
}

.primary-button-centerer {
    display: flex;
    justify-content: center;
}

#main-canvas {
    position: absolute;
}

#overlay-canvas {
    position: absolute;
    pointer-events: none;
}

#dom2d-canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
}

.side-seperator {
    flex: 1;
}

.icon-btn {
    background: none;
    border: none;
    box-sizing: content-box;
    border-radius: .2em;
    transition: all var(--transition);
    cursor: pointer;
    padding: .2em;
    height: 1em;
    margin-inline: .2em;
    flex: 0 0 1em;
    font-size: 1em;
    font-family: inherit;
}

.icon-btn:hover {
    background-color: var(--glass-light);
}

.icon {
    fill: var(--fg);
    transition: all var(--transition);
    height: 1em;
    width: 1em;
}

.spinner {
    height: 1em;
    width: 1em;
    color: var(--fg);
}

.icon.focus {
    fill: var(--accent-light);
}

input[type=text] {
    background: var(--bg-dark);
    border: 1px solid var(--border);
    border-radius: 4px;
    font-size: inherit;
    font-family: inherit;
    color: var(--fg);
}

input[type=text][disabled] {
    color: var(--fg-dark);
}

#hidden {
    position: absolute;
    width: 100vw;
    pointer-events: none;
    opacity: 0;
}

#mouse-tooltip-container {
    position: absolute;
    width: 0;
    height: 0;
}

#mouse-tooltip-container .mouse-tooltip {
    position: absolute;
    background-color: var(--glass-light);
    border: 1px solid var(--glass-light-border);
    border-radius: 3px;
    backdrop-filter: var(--glass-backdrop-filter);
    transform: translate(-50%, 0);
    top: 25px;
}

#mouse-tooltip-container .delete {
    font-size: 3rem;
}

#loop-created-container {
    position: absolute;
    pointer-events: none;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid var(--glass-border);
    border-radius: 5px;
    background: var(--glass);
    backdrop-filter: var(--glass-backdrop-filter);
    opacity: 0;
}

#loop-created-container .loop-created {
    font-size: 1rem;
    text-align: center;
}

#loop-created-container .loop-created-text {
    margin: 0;
    padding-inline: 1rem;
}

#keyboard-tips-container {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid var(--glass-border);
    border-right: 1px solid var(--glass-border);
    border-radius: 0 5px 0 0;
    background: var(--glass);
    backdrop-filter: var(--glass-backdrop-filter);
    padding-top: .1rem;
    padding-bottom: .2rem;
}

#keyboard-tips-container p {
    margin: 0;
    font-size: 1rem;
    padding-inline: .5rem;
    border-right: 1px solid var(--glass-border);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

#keyboard-tips-container p:last-child {
    border-right: none;
}

.keyboard-key {
    font-size: .75em;
    background: var(--bg-light);
    border-radius: 5px;
    border: 1px solid var(--border-light);
    padding: .1rem;
    padding-bottom: .2rem;
    box-shadow: inset 0 -.2rem 0 1px var(--bg-dark);
    display: inline-block;
    height: 1.2em;
    margin-inline: .2rem;
}

.keyboard-key.modifier-key {
    min-width: 1rem;
    text-align: center;
}

#controls {
    display: flex;
    position: absolute;
    top: 3.25rem;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid var(--glass-border);
    border-radius: 5px;
    background: var(--glass);
    backdrop-filter: var(--glass-backdrop-filter);
    padding: .2rem;
    font-size: 1.5rem;
    align-items: center;
}

#controls p {
    margin: 0;
    margin-left: .5rem;
    border-left: 1px solid var(--border);
    padding-inline: .5rem;
    font-size: 1rem;
    width: 5.5rem;
    text-align: end;
}

#controls input[type=range] {
    cursor: ew-resize;
}