#settings-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    pointer-events: none;
    transition: all var(--transition);
    backdrop-filter: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
    transform: translate(0, -10%);
}

#settings-container.show {
    pointer-events: all;
    background: var(--window-backdrop-color);
    backdrop-filter: var(--window-backdrop-filter);
    opacity: 1;
    transform: translate(0, 0);
}

#settings-window {
    width: 80%;
    max-width: 50rem;
    height: 80%;
    background: var(--bg);
    border: 1px solid var(--border);
    border-radius: .2rem;
    box-shadow: var(--window-shadow);
    overflow-y: auto;
}

.settings-title-bar {
    display: flex;
    border-bottom: 1px solid var(--border);
    margin: 0;
    padding-block: .2rem;
    padding-inline: .5rem;
    align-items: center;
}

.settings-title-bar .icon-btn {
    font-size: 1.5rem;
}

.settings-title-bar h2 {
    margin: 0;
}

.settings-main {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: .5rem;
    padding-inline: .5rem;
}

.settings-main h3 {
    margin: 0;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.settings-main h3 svg {
    margin-right: .4rem;
}

.settings-main h4 {
    margin: 0;
    margin-top: .2rem;
    font-weight: 400;
}

.settings-subsection {
    border-top: 1px solid var(--border);
    margin-top: 1rem;
    padding-top: 1rem;
}

.settings-subsection-inner {
    margin-left: .5rem;
    border-left: 1px solid var(--border);
    padding-left: .5rem;
}

.settings-buttons-select {
    margin-block: .5rem;
}

h4 + .settings-buttons-select {
    margin-block: .2rem;
}

.settings-buttons-select::before {
    padding-left: .5rem;
    content: '-->';
    color: var(--fg-dark);
}

.settings-buttons-select button {
    background: var(--bg-light);
    border: 1px solid var(--border-light);
    border-radius: .2rem;
    color: inherit;
    font-family: inherit;
    margin-inline: .5rem;
    padding: .2rem;
    transition: all var(--transition);
}

.settings-buttons-select button:hover {
    background: var(--border);
}

.settings-buttons-select button.focus {
    background: var(--accent-dark);
    border: 1px solid var(--accent-light);
}

.setting-note {
    color: var(--fg-dark);
    font-size: .75rem;
    margin: 0;
}